/* =============================================================================

    MINI CSS
    Authored by Josh Beveridge

============================================================================= */
.mini {
    background: none;
    border: .5rem solid white;
    border-radius: 100%;
    box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
    height: 5rem;
    margin: 5rem auto;
    position: relative;
    width: 5rem;

    &:before {
        background: none;
        border: .5rem solid white;
        border-radius: 100%;
        box-shadow: inset 0 1px 5px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        content: " ";
        display: block;
        height: 5rem;
        position: absolute;
        top: -.5rem;
        left: -.5rem;
        width: 5rem;
    }

    &:after {
        animation: breathe 1s infinite;
        background: white;
        border-radius: 100%;
        box-shadow: 0 1px 5px rgba(0, 0, 0, .3);
        box-sizing: border-box;
        content: " ";
        display: block;
        height: 2.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2.5rem;
    }

}

@keyframes breathe {
    0% {height: 2.5rem; width: 2.5rem;}
    50% {height: 3rem; width: 3rem;}
    100% {height: 2.5rem; width: 2.5rem;}
}
